<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Codewars</h1>
    <h2>전투 훈련 시작!</h2>

    <div class="failure">
      <% if (locals.err) { %>
        <%= err %>
      <% } else { %>
      <div>Failure!</div>
      <% if (resultMsgs.success.length) { %>
      <div>success :</div>
      <% resultMsgs.success.forEach(string => { %>
        <div><%= string %></div>
      <% }); %>
      <% } %>
      <div>failure :</div>
      <% resultMsgs.failure.forEach(string => { %>
        <div><%= string %></div>
      <% }); %>
      <% } %>
    </div>
  </body>

</html>
