<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <header class="logo-box">
      <img src="https://images.vexels.com/media/users/3/143424/isolated/preview/2aa6cd7edd894a7cefa4eaf0f5916ee9-lightning-bolt-small-by-vexels.png" />
      <a href="/" class="logo-text" >codewars</a>
      <div class="header-login-box">
        <div class="header-login">
          <% if (user) { %>
            <a href="/logout" class="header-login-text" >logout</a>
          <% } else { %>
            <a href="/login/github" class="header-login-text" >Login</a>
          <% } %>
        </div>
      </div>
    </header>
 
    <div class="problems">
      <div class="second-title">- 코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</div>
      <% problems.forEach(problem => { %>
        <div class="problem-contents">
          <a href="/problems/<%= problem._id %>" class="problem-link" role="button">
            <div><%= problem.title %></div>
            <div>완성한 사람: <%= problem.completed_users %></div>
            <div>난이도: <%= problem.difficulty_level %></div>
          </a>
        </div>
      <% }); %>
    </div>

    <footer>
      <li>General Supervisor: Ken Huh</li>
      <li>Assistant Supervisor: kizmo</li>
      <li>Super Supporter: MyeongWon Cho</li>
      <li>Producer: SeongJoon Kim</li>
      <li>Refferance: codewars(www.codewars.com)</li>
      
      <a class="vanilla-coding-logo" href="https://www.vanillacoding.co">
        <img src="https://d1sk7biawly96w.cloudfront.net/images/vc_logo@2x.png" />
      </a>
    </footer>
  </body>

</html>
