<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Codewars</h1>
    <h2>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</h2>

    <div class="problems">
      <% problems.forEach(problem => { %>
        <div class="problem-contents">
          <a href="/problems/<%= problem._id %>" class="problem-link" role="button">
          <div><%= problem.title %></div>
          <div>완성한 사람: <%= problem.completed_users %></div>
          <div>난이도: <%= problem.difficulty_level %></div>
          </a>
        </div>
      <% }); %>
      </div>
  </body>
</html>
