<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="logo-box">
      <img src="https://images.vexels.com/media/users/3/143424/isolated/preview/2aa6cd7edd894a7cefa4eaf0f5916ee9-lightning-bolt-small-by-vexels.png" />
      <a href="/" class="logo-text" >codewars</a>
    </header>

    <div class="login-box">
      <div class="login-text">Login</div>
      <div class="github-login">
        <img src="https://www.iconsdb.com/icons/preview/white/github-10-xxl.png" />
        <a href="/login/github" class="github-text" >Github Login</a>
      </div>
    </div>

    <footer>
      <li>General Supervisor: Ken Huh</li>
      <li>Assistant Supervisor: kizmo</li>
      <li>Super Supporter: MyeongWon Cho</li>
      <li>Producer: SeongJoon Kim</li>
      <li>Refferance: codewars(www.codewars.com)</li>
      
      <a class="vanilla-coding-logo" href="https://www.vanillacoding.co">
        <img src="https://d1sk7biawly96w.cloudfront.net/images/vc_logo@2x.png" />
      </a>
    </footer>
  </body>
</html>
