<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Codewars</h1>
    <h2>전투 훈련 본격 시작!</h2>

    <div class="success">
      <div>Success!</div>
    </div>
  </body>

</html>
