body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.problems {
  display: inline-block;
}

.problem-contents {
  display: inline-block;
  border: solid;
}

.problem-link {
  text-decoration: none;
  color: black;
}
